{% extends "base.html" %}
{% block title %}О сайте{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}
{% block header %}О сайте{% endblock %}
{% block content %}

    <div class="single-card">
        <img class="single-card__image" src="{% static 'images/techs.jpg' %}" alt="author">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">Технологии</h1>
            </div>
            <div class="single-card__section">
                <p class="single-card__section-text">В реализации проекта были использованы следующие инструменты:</p>
                <p class="single-card__section-text">Фреймворк для веб-разработки <a href="https://www.djangoproject.com/">Django 3.1</a>.</p>
                <p class="single-card__section-text">Фреймворк для реализации API <a href="https://www.django-rest-framework.org/">Django REST 3.12</a>.</p>
                <p class="single-card__section-text">СУБД <a href="https://www.postgresql.org/">PostgreSQL 13.2</a>.</p>
                <p class="single-card__section-text">WEB-сервер для python <a href="https://gunicorn.org/">Gunicorn</a>.</p>
                <p class="single-card__section-text">Платформа для разработки, доставки и эксплуатации приложений <a href="https://www.docker.com/">Docker</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}