{% extends "base.html" %}
{% block title %}{{ recipe|yesno:"Редактирование рецепта,Создание рецепта" }}{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block header %}{{ recipe|yesno:"Редактирование рецепта,Создание рецепта" }}{% endblock %}
{% block content %}
{% load user_filters %}

    <div class="main__header">
        <h1 class="main__title">{{ recipe|yesno:"Редактирование рецепта,Создание рецепта" }}</h1>
    </div>
    <div class="form-container">

        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    {{ form.title|addclass:"form__input" }}
                </div>
            </div>

            <div class="form__group">
            <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.tags %}
                        <div class="tags__item">
                            <input type="checkbox" name="{{ tag.data.name }}" value="{{ tag.data.value.value }}" id="{{ tag.id_for_label }}"
                                   class="tags__checkbox tags__checkbox_style_{{ tag.data.value.instance.color }}"
                                   {% if tag.data.selected %}checked{% endif %}>
                            <label for="{{ tag.id_for_label }}" class="tags__label">{{ tag.choice_label }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.ingredients.id_for_label }}" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <div class="form__field-group-ingredientes-container">
                        {% if recipe %}
                            {% for item in recipe.ing_amounts.all %}
                            <div class="form__field-item-ingredient" id="{{ item.ingredient.id }}">
                                <span> {{ item.ingredient.name }} {{ item.amount }} {{ item.ingredient.measure }}</span>
                                <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{ item.ingredient.id }}" name="nameIngredient_{{ item.ingredient.id }}"
                                       type="hidden" value="{{ item.ingredient.name }}">
                                <input id="valueIngredient_{{ item.ingredient.id }}" name="valueIngredient_{{ item.ingredient.id }}"
                                       type="hidden" value="{{ item.amount }}">
                                <input id="unitsIngredient_{{ item.ingredient.id }}" name="unitsIngredient_{{ item.ingredient.id }}"
                                       type="hidden" value="{{ item.ingredient.measure }}">
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.time.id_for_label }}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.time|addclass:"form__input" }}
                    <label for="{{ form.time.id_for_label }}" class="form__label">минут</label>
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{ form.description|addclass:"form__textarea" }}
                </div>
            </div>

            <div class="form__group form__group_upload">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="{{ form.image.id_for_label }}" class="form__file-button">Выбрать файл</label>
                    {{ form.image|addclass:"form__file" }}
                </div>
                <div class="form__upload-file"></div>
                <img class="form__upload-delete" src="{% static 'images/delete.svg' %}" alt="delete">
            </div>

            <div class="form__footer">
                {% if recipe %}
                <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em" href="{% url 'recipe_delete' recipe_id=recipe.id %}" class="form__ingredient-link">Удалить</a>
                {% else %}
                <button class="button button_style_blue">Создать рецепт</button>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
{% block scripts %}

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/formRecipe.js' %}"></script>

{% endblock %}