{% extends "base.html" %}
{% block title %}Ошибка 500{% endblock %}
{% block header %}Ошибка 500{% endblock %}
{% block content %}

    <div class="single-card">
        <div class="single-card__info">
            <h3 class="single-card__title">Ошибка 500</h3>
            <br>
            <h3 class="single-card__section-title">Ошибка на сервере, попробуйте обновить страницу или обратиться позже.</h3>
            <h3 class="single-card__section-title"><a href="{% url 'index' %}">Вернёмся на главную?</a></h3>
        </div>
    </div>

{% endblock %}