{% load static %}
<div class="card-user" data-author="{{ author.id }}">
<div class="card-user__header">
    <h2 class="card-user__title">
        {% if author.get_full_name %}{{ author.get_full_name }}{% else %}{{ author.username }}{% endif %}
    </h2>
</div>
<div class="card-user__body">
    <ul class="card-user__items">
        {% for recipe in author.user_recipes.all|slice:":3" %}
        <li class="card-user__item">
            <div class="recipe">
                {% load thumbnail %}
                {% thumbnail recipe.image "72x72" crop="center" upscale=True as im %}
                    <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image"></a>
                {% empty %}
                    <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{% static 'images/no_img.jpg' %}" alt="{{ recipe.title }}" class="recipe__image"></a>
                {% endthumbnail %}
                <h3 class="recipe__title">{{ recipe.title }}</h3>
                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            </div>
        </li>
        {% endfor %}
        {% if author.user_recipes.count > 3 %}
        <li class="card-user__item">
            <a href="{% url 'profile' author.username %}" class="card-user__link link">Ещё рецепты автора</a>
        </li>
        {% endif %}
    </ul>
</div>
<div class="card-user__footer">
    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
</div>
</div>