{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block header %}Сброс пароля{% endblock %}
{% block content %}

    {% include "includes/mainheader.html" with header_title="Сброс пароля" %}
    <div class="form-container">
        <form class="form" method="post">
            <p class="form__info-text">
                Чтобы сбросить старый пароль введите адрес электронной почты, под которым вы регистрировались.
            </p>
            {% csrf_token %}
            {% for field in form %}
                {% include "users/includes/regformfields.html" with field=field %}
            {% endfor %}
           <div class="form__footer">
               <button class="button button_style_blue">Сбросить пароль</button>
           </div>
        </form>
    </div>

{% endblock %}