{% extends "base.html" %}
{% block title %}Пароль установлен{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block header %}Пароль установлен{% endblock %}
{% block content %}

    <div class="main__header">
        <h1 class="main__title">Новый пароль установлен успешно!</h1>
    </div>
    <div class=class="form-container">
        <p class="form__info-text">
            Теперь вы можете <a href="{% url 'login' %}" class="link"><u>войти</u></a>.
        </p>
    </div>

{% endblock %}