{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block header %}Новый пароль{% endblock %}
{% block content %}

    {% if validlink %}
    {% include "includes/mainheader.html" with header_title="Новый пароль" %}
    {% else %}
    {% include "includes/mainheader.html" with header_title="Ошибка" %}
    {% endif %}
    <div class="form-container">
        {% if validlink %}
            <form class="form" method="post">
                <p class="form__info-text">
                    Введите новый пароль.
                </p><br>
                {% csrf_token %}
                {% for field in form %}
                    {% include "users/includes/regformfields.html" with field=field %}
                {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Установить пароль</button>
                </div>
            </form>
        {% else %}
            <p class="form__info-text">
                Ссылка сброса пароля содержит ошибку или устарела. Проверьте правильность ввода или попробуйте ещё раз позднее.
            </p>
        {% endif %}
    </div>

{% endblock %}