{% load static %}
{% load thumbnail %}
{% if singlepage %}
    {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
        <img class="single-card__image" src="{{ im.url }}" alt="{{ recipe.title }}">
    {% empty %}
        {% include "recipes/includes/elements/empty_image.html" %}
    {% endthumbnail %}
{% endif %}
{% if card %}
    {% thumbnail recipe.image "360x240" crop="center" upscale=True as im %}
        <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image"></a>
    {% empty %}
        <a href="{% url 'recipe' recipe.id %}" class="link">{% include "recipes/includes/elements/empty_image.html" %}</a>
    {% endthumbnail %}
{% elif author_card %}
    {% thumbnail recipe.image "72x72" crop="center" upscale=True as im %}
        <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image"></a>
    {% empty %}
        {% include "recipes/includes/elements/empty_image.html" %}
        <a href="{% url 'recipe' recipe.id %}" class="link">{% include "recipes/includes/elements/empty_image.html" %}</a>
    {% endthumbnail %}
{% elif shoplist_card %}
    {% thumbnail recipe.image "90x90" crop="center" upscale=True as im %}
        <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big"></a>
    {% empty %}
        <a href="{% url 'recipe' recipe.id %}" class="link">{% include "recipes/includes/elements/empty_image.html" %}</a>
    {% endthumbnail %}
{% endif %}