<div class="card" data-id="{{ recipe.id }}">
    {% include "recipes/includes/elements/image.html" with card=True %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.id %}">{{ recipe.title }}</a>
        <br>
        <ul class="card__items">
            {% include "recipes/includes/elements/tags.html" with style="card__item" %}
        </ul>
        <div class="card__items card__items_column">
            {% include "recipes/includes/elements/time.html" with style="card__text" %}
            {% include "recipes/includes/elements/author.html" with style="card__text" %}
        </div>
    </div>
    <div class="card__footer">
        {% if request.user.is_authenticated %}
            {% include "recipes/includes/buttons/purchase_button.html" with card=True %}
            {% include "recipes/includes/buttons/favorite_button.html" %}
        {% endif %}
    </div>
</div>